body {
	
}

.espaco {
	margin-top: 90px;

}

.meio {
	background-color: white;
	margin-top: 2%;
	margin-right: 15%;
	margin-left: 15%;
	border-radius: 25px;
	padding-bottom: 10%;
	padding-left: 50px;
	padding-right: 50px;
}

.a{
	text-align: center;
	padding-top: 20px;
}

#top {
	position: fixed;
    right: 40px;
    top: 100px;
}

#xop {
    position: fixed;
	right: 40px;
	top: 30px;
    
}

#md {
	position: fixed;
	top: 30px;
	left:20px;

}