body {
	
}

.typing-animation {
	animation: cursor 500ms infinite normal, typing 4s 1s normal;
}

@keyframes typing {
	from{
		width: 0;
	}
	to{
		width: 40px;
	}
}

@keyframes cursor{
	from{
		border-right-color: 3px solid rgba(10px,0,0,0.75);
	}
	to{
		border-right-color: transparent;
	}
}

.espaco {
	margin-top: 90px;

}

.meio {
	background-color: white;
	margin-top: 2%;
	margin-right: 15%;
	margin-left: 15%;
	border-radius: 25px;
	padding-bottom: 10%;
	padding-left: 50px;
	padding-right: 50px;
}

.titulo{
	text-align: center;
	font-size: 65px;
	border-right: 3px solid rgba(0,0,0,0.75);
	white-space: nowrap;
	overflow: hidden;
}

.a{
	text-align: center;
	padding-top: 20px;
}

#top {
	position: fixed;
    right: 40px;
    top: 100px;
}

#xop {
    position: fixed;
	right: 40px;
	top: 30px;
    
}

#md {
	position: fixed;
	top: 30px;
	left:20px;

}

