body {
	
}

.espaco{
	margin-top: 90px;

}



.meio{
	background-color: white;
	margin-top: 5%;
	margin-right: 15%;
	margin-left: 15%;
	border-radius: 25px;
	padding-bottom: 10%;
	padding-left: 50px;
	padding-right: 50px;x

}

.a{
	text-align: center;
	padding-top: 20px;
}

